/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Gandhara Suls Regular";
  src: url(/assets/fonts/Gandhara\ Suls\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Mehr_Nastaliq_Web';
  src: url(/assets/fonts/Mehr_Nastaliq_Web\ v.\ 2.0.ttf);
}


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #b80707;

  --title-color: rgb(228, 228, 228);
  --text-color: rgb(255, 253, 253);

  --body-color:black;



  --container-color: rgba(50, 50, 50, 0.99);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --stylish-urdu: "Gandhara Suls Regular";
  --normal-urdu: 'Mehr_Nastaliq_Web';
  --h2-font-size: 1.6rem;
  --normal-font-size: 1.15rem;
  --small-font-size: .8rem;
  --category-font-size: 2.5rem;


  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.8rem;
    --normal-font-size: 1.3rem;
    --small-font-size: 1.15rem;
 
  }
}

@media screen and (min-width: 576px) {
  :root {
    --h2-font-size: 1.68rem;
    --normal-font-size: 1.25rem;
    --small-font-size: 1rem;

  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;

}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--normal-urdu);

  font-size: var(--normal-font-size);
}

body {
  background: var(--body-color);
  background-repeat: no-repeat;
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

.nav__list {
  font-family: var(--stylish-urdu);
  list-style: none;
}

.nav__link {
  font-weight: var(--font-semi-bold);
  text-decoration: none;
  color: var(--text-color)
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  height: auto;
  margin-top: 3.5rem;
  overflow-x: hidden;
  min-height: 100vh;

  width: 100%;
  /* border: 5px solid yellow; */
  /* position: relative; */

  /* overflow: hidden; */
  background: var(--body-color);
  
}

.cover {
  display: flex;
  /* flex-direction: row; */
  background: url(/assets/img/leaves.jpg);
  align-items: center;
  justify-content: flex-end;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: row;
  width: 100vw;
  position: relative;

  /* outline: 3px solid orange; */
  height: 30vh;
}

.cover::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  backdrop-filter: blur(10px);
}

.cover__internal {
  display: flex;
transform: translateX(300px);
opacity: .1;
  margin-inline:.6rem;
  flex-direction: row-reverse;
  align-items: center;
  /* position: relative; */
  /* border: 5px solid red; */
  z-index: 1;
}

.cover__internal {
  animation-name: slide;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.93, 0.32, 0.63, 0.64);
  animation-fill-mode: forwards;
}

@keyframes slide {

  100% {
    transform: translateX(0%);
    opacity: 1;

  }
}


.right__cover {
  margin-left: 2rem;
  /* outline: 2px solid black; */
}

.profile__pic {
  width: 8rem;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, .3);
}

.left__cover {
  /* outline: 2px solid black; */
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.left__cover>.poet__intro>.title {
  color: var(--title-color);
  font-size: var(--normal-font-size);
  font-family: var(--stylish-urdu);
  font-weight: var(--font-semi-bold);
}

.poet__bio>.birth__date {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.loaction,
.birth__date {
  direction: rtl;
  width: 100%;
}


.birth__date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  direction: rtl;
}

.poet__bio {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  font-size: var(--small-font-size);
}

.short__desc {
  font-size: var(--small-font-size);
  direction: rtl;
}


.search,
.login {
  direction: rtl;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}


.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}



/*========================== Category ===========================*/

.category__container {
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__title {
  font-size: var(--category-font-size);
}

.category__list {
  list-style: none;
  background: var(--body-color);
  direction: rtl;
  /* outline: 3px solid red; */
  padding-top: 25px;
  padding-bottom: 25px;


}

.category__unit {
  margin-right: var(--header-height);
  /* outline: 2px solid yellow; */
  max-width: 852px;
  margin-bottom: 30px;
  position: relative;
}

.category__unit::after {
  position: absolute;
  content: '';
  bottom: -16px;
  right: 2px;
  width: 80%;
  height: 1px;
  background: #474747;
}

.unit__link {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  text-decoration: none;
  /* outline: 2px solid red; */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background:black;
  z-index: var(--z-fixed);

}

.nav {

  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
background: black;

}

.nav__logo {
  font-family: "Gandhara Suls Regular";
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
  text-decoration: none;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background: var(--body-color);
    box-shadow: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form,
.login__group {
  display: grid;
}

.login__form {
  background: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: 0.5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {

  .cover__internal {
    margin-inline: 3rem;
  }

  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .main {

    margin-top: 5.9rem;
  }

  .cover {
    height: 42vh;

  }
  .cover__internal {
    margin-inline: 6rem;
  }

  .profile__pic {
    width: 10rem;
  }


  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

}

/* SHUJA================================= */

/* @media screen and (max-width: 430px) {
  :root {
    --h2-font-size: .9rem;
    --normal-font-size: .7rem;
  }
  
}

@media screen and (max-width: 405px) {
  .location, .birth__date{
    width: 67px;
  }
} */