/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Gandhara Suls Regular";
  src: url(/assets/fonts/Gandhara\ Suls\ Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Mehr_Nastaliq_Web';
  src: url(/assets/fonts/Mehr_Nastaliq_Web\ v.\ 2.0.ttf);
}

/*=============== VARIABLES CSS ===============*/
:root{
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: #b80707;
   --title-color:silver;
   --text-color: rgb(255, 253, 253);
   --body-color: rgba(50, 50, 50, 0.99);
   --container-color:rgba(50, 50, 50, 0.99);
   --border-color: hsl(230, 25%, 80%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --stylish-urdu: "Gandhara Suls Regular";
   --normal-urdu: "Urdu_Emad_Nastaliq Regular";
   --h2-font-size: 1.25rem;
   --h2-font-size: 1.6rem;
   --normal-font-size: 1.15rem;
   --small-font-size:.8rem;
   --category-font-size: 2.5rem;

   // Responsive typography
   @media screen and (min-width: 1023px){
      --h2-font-size: 1.5rem;
      --normal-font-size: 1rem;
   }

	/*========== Font weight ==========*/
   --font-regular: 400;
   --font-medium: 500;
   --font-semi-bold: 600;

	/*========== z index ==========*/
   --z-fixed: 100;
   --z-modal: 1000;
}
